<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Kaizen</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="{{ url_for('static', filename='./styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">


<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><img src="{{ url_for('static', filename='./logo.png') }}" width="25px" height="25px" title="Kaizen Logo"></i>Kaizen</a>
  <a href="#i" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">The Team</a>
  <a href="#service" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Services</a>
  <a href="#clients" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Important Clients</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact Us</a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Important Sites <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="https://www.iras.gov.sg/irashome/default.aspx" class="w3-bar-item w3-button">IRAS</a>
      <a href="https://www.acra.gov.sg" class="w3-bar-item w3-button">ACRA</a>
      <a href="https://www.cpf.gov.sg/" class="w3-bar-item w3-button">CPF</a>
      <a href="https://www.mom.gov.sg" class="w3-bar-item w3-button">Ministry Of Manpower</a>
    </div>
  </div>
    </div>
  </div>
 </div>


  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">ㅤ</a>
    <a href="#i" class="w3-bar-item w3-button">About Us</a>
    <a href="#team" class="w3-bar-item w3-button">The Team</a>
    <a href="#service" class="w3-bar-item w3-button">Our Services</a>
    <a href="#clients" class="w3-bar-item w3-button">Important Clients</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact Us</a>
    <a href="https://www.iras.gov.sg/irashome/default.aspx" class="w3-bar-item w3-button">IRAS</a>
    <a href="https://www.acra.gov.sg" class="w3-bar-item w3-button">ACRA</a>
    <a href="https://www.cpf.gov.sg/" class="w3-bar-item w3-button">CPF</a>
    <a href="https://www.mom.gov.sg" class="w3-bar-item w3-button">Ministry Of Manpower</a>
  </div>
</div> 

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>⚠️ WARNING ⚠️</h4>
      <h5>This site is best viewed in landscape. If you continue viewing this site in potrait, you will find some minor glitches.</h5>
      <h6>If you would like to change to landscape, please resize your window or flip your device.</h6>
    </header>
    <div class="w3-container">
      <p>If you would like to continue in potrait, when clicking the 'hamburger', the Navigator will appear at the top of the site. (This bug will be addressed as soon as possible)</p>
    </div>
    <footer class="w3-container w3-teal">
      <h6 class="w3-right-align">Thank you for your cooperation.</h6>
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-bottomleft">Ok</i></span>
    </footer>
  </div>
</div>
<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="{{ url_for('static', filename='./img.jpg') }}" alt="Sorry, there is an internet problem, please try again later." style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">
      <h1 style="color: white">Kaizen Management</h1>
  </div>
</div>

<!--About Us-->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="i">
  <h1>About Us</h1>
  <p><b>Skills. Expertise. Excellence.</b></p>
  <p>We, at Kaizen, believe that every client is a valuable asset. Providing businesses solution
    and services backed by excellent workforce with a multitude of skills and experience,
    our company has been able to respond to the needs of businesses in various industries,
    ranging from small to medium enterprises.
    Our innovative approach to tailor-made solutions, progressive technology and
    enthusiastic teamwork coupled with our large global network of associates allow us to
    keep an open mind and find the right tool for clients to work with. We have no time for
    complacency and are passionately committed to our client's aspirations.
    We strive to adopt a creative, but practical approach to our clients' global requirements.
    This mindset allows us to work with some of the best organizations and agents worldwide and
    we can be assured of receiving the best possible professional assistance
    No matter how simple or complex the requirement may be, we will provide the best
    solution for services you need.</p>
</div>
<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>The team</h2>
<p>Meet the team - our office rats:</p>

<div class="w3-row"><br>

<div class="w3-third">
  <img src="{{ url_for('static', filename='priti.jpg') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Priti Lakhpati</h3>
  <p>Director</p>
</div>

<div class="w3-third">
  <img src="{{ url_for('static', filename='vikas.jpg') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Vikas Kohlakher</h3>
  <p>Support</p>
</div>

<div class="w3-third">
  <img src="{{ url_for('static', filename='ashiwini.jpg') }}" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Ashwini Tambe</h3>
  <p>Boss</p>
</div>

</div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="service">
<h1>Our Services</h1>
<h2>Secretarial</h2>
<p>Kaizen Management Consultancy specializes in assisting clients to set up the most appropriate
  corporate vehicle for a presence in Singapore.</p>
<p>• Maintenance of statutory records<br>• Establishment of a Singapore Company (Resident/Non- Resident)<br>• Foreign Corporations- Registration of a Singapore Branch/ Setting up a Singapore Representative office.<br>• Provision of Registered office facilities<br>• Nominee secretary and Professional Nominee director services<br>• Liaison with other professionals on statutory requirements.<br>• Statutory Filings with the Accounting and Corporate Regulatory Authority<br>• De-Registration services including assistance on Winding-Up and Striking Off.<br>• Assisting in preparation of commercial agreements<br>• Assistance in maintaining company ESOP.</p>
<h2>Accounting</h2>
<p>• We can help to simplyfy your accounting functions, or help in book-keeping<br>• Our accounting services also include preparation of management accounts and GST submission<br>    ‣ can be prepared on a monthly, quarterly or yearly basis<br>• preparation of unaudited financial statements<br>• Internal Audits<br>• Payroll processment<br>• Cloud-based and traditional accoutning services.</p>
<h2>Taxation</h2>
<p>In Singapore, companies are required to file their corporate tax returns with the Inland Revenue
  Authority of Singapore (IRAS). Tax preparation and filing is a responsibility of all business owners who
  have to ensure that their corporate tax matters are filed before the given deadline to avoid civil and
  criminal penalties.
  However, the nature of tax returns preparation can be seen as complex and time-consuming. In some
  cases, it can be a distraction to those business owners whose focus is still primarily on managing the
  business operation.
  Our team of tax professionals are competent and possess the in-depth technical knowledge to assist
  businesses across a wide spectrum of tax services. We pride ourselves to be able to deliver a seamless
  tax planning, advisory and solution that focuses on helping business leaders to make informed tax
  decisions, and at the same time relieving them of the tedium in tax compliance.</p>
  <p>Besides statutory tax filing, we also assist our valued clients in attending to queries from IRAS, apply tax ruling and resolving tax issues.<br>• Annual Tax filing procedures for Companies incorporated in Singapore<br>• Personal Tax Filing<br>• GST Quarterly Returns<br>• Withholding Tax<br>• Tax Computation and Filing of Estimated Chargeable Income.<br>• Resolving tax disputes with a view to minimizing tax and penalty exposure
    </p>
</div>
</div>

<!-- Pricing Row -->
<div class="w3-row-padding w3-padding-64" id="clients">
  <h1>Our Clients</h1>
  <p>Over the past 6 years, we have been able to build a client profile of more than 200 companies covering various sectors:</p>
  <p>• Shipping<br>• FMCG and Wholesale Trading<br>• Investment Holding & Fund Management Companies<br>• HR & IT Companies<br>• Oil & Gas<br>• Retail & Automobile industries</p>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <h1>Contact us at:</h1>
  <h2>Mail......</h2>
  <h3>Kaizen Management Services Pte Ltd</h3>
  <h3>3 Shenton Way <br>#08-09A<br>Shenton House<br>Singapore 068805</h3>
  <h2>Or with an email:</h2>
  <h5>
    <a href="mailto:info@kaizengroup.sg">info@kaizengroup.sg</a>
    <br>
    <a href="mailto:priti@kaizengroup.sg">priti@kaizengroup.sg</a>
    <br>
    <a href="mailto:vikas@kaizengroup.sg">vikas@kaizengroup.sg</a>
  </h5>

</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Orientation Warning
//if(screen.availHeight > screen.availWidth){
//    document.getElementById('id01').style.display='block';
//}
</script>


</script>

</body>
</html>
