<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Kaizen</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="{{ url_for('static', filename='./styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">


<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-teal"><img src="{{ url_for('static', filename='./logo.png') }}" width="25px" height="25px" title="Kaizen Logo"></i>Kaizen</a>
        <a href="#i" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
        <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Services</a>
        <a href="#clients" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Important Clients</a>
        <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact Us</a>
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-button" title="Notifications">Important Sites <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="https://www.iras.gov.sg/irashome/default.aspx" class="w3-bar-item w3-button">IRAS</a>
            <a href="https://www.acra.gov.sg" class="w3-bar-item w3-button">ACRA</a>
            <a href="https://www.cpf.gov.sg/" class="w3-bar-item w3-button">CPF</a>
            <a href="https://www.mom.gov.sg" class="w3-bar-item w3-button">Ministry Of Manpower</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:40px">
    <a href="#i" class="w3-bar-item w3-button" onclick="myFunction()">About Us</a>
    <a href="#work" class="w3-bar-item w3-button" onclick="myFunction()">Our Services</a>
    <a href="#clients" class="w3-bar-item w3-button" onclick="myFunction()">Important Clients</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="myFunction()">Contact Us</a>
    <a href="https://www.iras.gov.sg/irashome/default.aspx" class="w3-bar-item w3-button" onclick="myFunction()">IRAS</a>
    <a href="https://www.acra.gov.sg" class="w3-bar-item w3-button" onclick="myFunction()">ACRA</a>
    <a href="https://www.cpf.gov.sg/" class="w3-bar-item w3-button" onclick="myFunction()">CPF</a>
    <a href="https://www.mom.gov.sg" class="w3-bar-item w3-button" onclick="myFunction()">Ministry Of Manpower</a>
  </div>
  
<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>⚠️ WARNING ⚠️</h4>
      <h5>This site is best viewed in landscape. If you continue viewing this site in potrait, you will find some minor glitches.</h5>
      <h6>If you would like to change to landscape, please resize your window or flip your device.</h6>
    </header>
    <div class="w3-container">
      <p>If you would like to continue in potrait, when clicking the 'hamburger', the Navigator will appear at the top of the site. (This bug will be addressed as soon as possible)</p>
    </div>
    <footer class="w3-container w3-teal">
      <h6 class="w3-right-align">Thank you for your cooperation.</h6>
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-bottomleft">Ok</i></span>
    </footer>
  </div>
</div>
<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="{{ url_for('static', filename='./img.jpg') }}" alt="Sorry, there is an internet problem, please try again later." style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">
      <h1 style="color: white">Kaizen Management</h1>
  </div>
</div>

<!--About Us-->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="i">
  <h1>About Us</h1>
  <p><b>Skills. Expertise. Excellence.</b></p>
  <p>We, at Kaizen, believe that every client is a valuable asset. Providing businesses solution
    and services backed by excellent workforce with a multitude of skills and experience,
    our company has been able to respond to the needs of businesses in various industries,
    ranging from small to medium enterprises.
    Our innovative approach to tailor-made solutions, progressive technology and
    enthusiastic teamwork coupled with our large global network of associates allow us to
    keep an open mind and find the right tool for clients to work with. We have no time for
    complacency and are passionately committed to our client's aspirations.
    We strive to adopt a creative, but practical approach to our clients' global requirements.
    This mindset allows us to work with some of the best organizations and agents worldwide and
    we can be assured of receiving the best possible professional assistance
    No matter how simple or complex the requirement may be, we will provide the best
    solution for services you need.</p>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<h1></h1>
<br>
</div>











































<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l5" id="work">

  <div class="w3-quarter">
  <h2>Our Services</h2>
  <p>We provide many different types of services. Here are some of them.</p>
  </div>
  
  <div class="w3-quarter">
  <div class="w3-card w3-white">
    <a href="{{ url_for('accser') }}"><img src="{{ url_for('static', filename='./sec.png') }}" alt="Error Loading Image......" style="width:100%"></a>
    <div class="w3-container">
    <a href="{{ url_for('accser') }}"><button class="w3-button w3-hover-white"><h3>Secretarial</h3></button></a>
    </div>
    </div>
  </div>
  
  <div class="w3-quarter">
  <div class="w3-card w3-white">
    <a href="{{ url_for('accser') }}"><img src="{{ url_for('static', filename='./acc.jpg') }}" alt="Error Loading Image......" style="width:100%"></a>
    <div class="w3-container">
    <a href="{{ url_for('accser') }}"><button class="w3-button w3-hover-white"><h3>Accounting </h3></button></a>
    </div>
    </div>
  </div>
  
  <div class="w3-quarter">
    <div class="w3-card w3-white">
      <a href="{{ url_for('taxser') }}"><img alt="TEMPORARY PLACEHOLDER" style="width:100%"></a>
      <div class="w3-container">
      <a href="{{ url_for('taxser') }}"><button class="w3-button w3-hover-white"><h3>Taxation</h3></button></a>
      </div>
      </div>
    </div>
    </div>
  
  
<!-- Pricing Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="clients">
  <h1>Our Clients</h1>
  <p>Over the past 6 years, we have been able to build a client profile of more than 200 companies covering various sectors:</p>
  <p>• Shipping<br>• FMCG and Wholesale Trading<br>• Investment Holding & Fund Management Companies<br>• HR & IT Companies<br>• Oil & Gas<br>• Retail & Automobile industries</p>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <h2>Our contact deatils</h2>
  <h3>Kaizen Management Services Pte Ltd</h3>
  <h3>3 Shenton Way <br>#08-09A<br>Shenton House<br>Singapore 068805</h3>
  <h3>+65 6221 5848</h3>
  <h3>info@kaizengroup.sg</h3>
  <div class="mighty-form" id="mf-32a9b06c-94c5-4e99-9fa5-e557680b1107"></div> 
  <script async src="https://form.mightyforms.com/loader/v1/mightyforms.min.js"></script>
    
  </div>

  </div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>


<script src="{{ url_for('static', filename='./script.js') }}">
</script>
</body>
</html>
