<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>Kaizen</title>
<meta name="theme-color" content="#000000">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="{{ url_for('static', filename='./sersty.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">


<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-teal"><img src="{{ url_for('static', filename='./logo.png') }}" width="25px" height="25px" title="Kaizen Logo"></i>Kaizen</a>
        <a href="#i" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
        <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Services</a>
        <a href="#clients" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Important Clients</a>
        <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact Us</a>
        <div class="w3-dropdown-hover w3-hide-small">
          <button class="w3-button" title="Notifications">Important Sites <i class="fa fa-caret-down"></i></button>     
          <div class="w3-dropdown-content w3-card-4 w3-bar-block">
            <a href="https://www.iras.gov.sg/irashome/default.aspx" class="w3-bar-item w3-button">IRAS</a>
            <a href="https://www.acra.gov.sg" class="w3-bar-item w3-button">ACRA</a>
            <a href="https://www.cpf.gov.sg/" class="w3-bar-item w3-button">CPF</a>
            <a href="https://www.mom.gov.sg" class="w3-bar-item w3-button">MOM</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:40px">
    <a href="#i" class="w3-bar-item w3-button" onclick="myFunction()">About Us</a>
    <a href="#work" class="w3-bar-item w3-button" onclick="myFunction()">Our Services</a>
    <a href="#clients" class="w3-bar-item w3-button" onclick="myFunction()">Important Clients</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="myFunction()">Contact Us</a>
    <a href="https://www.iras.gov.sg/irashome/default.aspx" class="w3-bar-item w3-button" onclick="myFunction()">IRAS</a>
    <a href="https://www.acra.gov.sg" class="w3-bar-item w3-button" onclick="myFunction()">ACRA</a>
    <a href="https://www.cpf.gov.sg/" class="w3-bar-item w3-button" onclick="myFunction()">CPF</a>
    <a href="https://www.mom.gov.sg" class="w3-bar-item w3-button" onclick="myFunction()">MOM</a>
  </div>


<!--Breadcrumbs-->
<div class="w3-row-padding w3-padding-64 w3-theme-l5" id="i">
<p><a href="{{ url_for('index') }}">Home</a> > <a href="{{ url_for('secser') }}">Secretarial Services</a></p>

<!--Secretarial Services-->
<h1>Secretarial Services</h1>
<p>Kaizen Management Consultancy specializes in assisting clients to set up the most appropriate
corporate vehicle for a presence in Singapore.</p>
<p>• Maintenance of statutory records<br>• Establishment of a Singapore Company (Resident/Non- Resident)<br>• Foreign Corporations- Registration of a Singapore Branch/ Setting up a Singapore Representative office.<br>• Provision of Registered office facilities<br>• Nominee secretary and Professional Nominee director services<br>• Liaison with other professionals on statutory requirements.<br>• Statutory Filings with the Accounting and Corporate Regulatory Authority<br>• De-Registration services including assistance on Winding-Up and Striking Off.<br>• Assisting in preparation of commercial agreements<br>• Assistance in maintaining company ESOP.</p>
<a href="{{ url_for('index', _anchor='work') }}"><button class="w3-button">Back</button></a>
</div>
<script src="{{ url_for('static', filename='./script.js') }}">
</script>
</body>
</html>
